---
import Card from '../components/card.astro'
import Layout from '../components/Layout.astro';
---
<Layout pageTitle="Mis Servicios">
    <h1>Mis Servicios</h1>
<p>Mis Servicios detalle para un test de compatibilidad</p>

<Card title="Hola"/>
<Card title="Programacion"/>
<Card title="Disenyo"/>
<Card title="Asistencia"/>


</Layout>
